.student-details{
    background-color: #f0a7f393;
    border: 2px solid rgb(161, 144, 144);
    width: 325px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 8px #88888886;
    margin-bottom: 10px;
}

.student-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.cart-button{
    background-color: darkcyan;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    color: white;
}

